html, body {
  max-width: 100%; height: 100%;
  display: grid; justify-content: center;
  align-items: center; place-items: center;
  background-image: url("https://wallpapercave.com/wp/wp3006108.jpg");
  margin: 0; padding: 0;
}

.block {
  color: #fff; width: 100%; height: 100%;
  background-color: #0C0C0C; margin: auto;
}

.block-1 {
  background: rgba( 3, 39, 123, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  opacity: 80%; margin: auto;
}

.full-page {
  height: 100%; max-width: 55em;
  margin: auto;
}

#name {
  margin: 14em 0 0 0;
  font-family: 'Monument Extended', sans-serif;
  font-size: 1.25rem;
}

#bio {
  margin: 0 auto;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 0.9rem;
  transition: all .5s;
}

.custom-btn {
  width: 15rem; height: 5.25rem;
  background-color: #A9A9A9;
  margin: 1.5em auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 1s; border-radius: 0.5rem;
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(24, 32, 46, 0.75);
  
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.custom-btn:hover {
  background-color: #F1F1F1;
  transition: all 1s;
}

#links a {
  font-size: 1.25em; margin: auto;
  font-family: 'Ubuntu', sans-serif;
}

#links {
  width: 70%; height: 75%;
}

.logo {
  margin: 5rem auto;
}

.all {
  margin: 7rem 0 0 0;
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}

.all:hover {
  perspective: 1000px;
  transition: all 1s ease-out;
  transform: perspective(10000px) rotateX(0deg);
}

.all:hover .text {
  opacity: 1;
}

.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}

.all:hover .explainer {
  opacity: 0;
}

.lefter,
.links,
.core,
.recht,
.righter {
  
  font-size: 66%; font-family: 'Ubuntu', sans-serif;
  width: 3rem; height: 3rem;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
  border: 1px solid #FFD700;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0; transition: all 0.5s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #A9A9A9;
  
  
  cursor: normal;
  background-blend-mode: color-burn;
  
}

.lefter i,
.links i,
.core i,
.recht i,
.righter i {
  
  margin: 0.55rem 0 0 0;
  
}

.lefter:hover,
.links:hover,
.core:hover,
.recht:hover,
.righter:hover {
  
  box-shadow: 0 0 30px 10px; rgba(135, 206, 235, 1);
  background-color: #c0c0c0;
  
}

.text {
  transform: translateY(30px);
  opacity: 0; transition: all 0.5 ease;
  bottom: 0; left: 0; position: absolute;
  will-change: transform;
  color: #F1F1F1;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}



.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(24, 32, 46, 0.75);
}

.links {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(24, 32, 46, 0.75);
}

.core {
  opacity: 1;
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(24, 32, 46, 0.75);
}

.recht {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(24, 32, 46, 0.75);
}

.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(24, 32, 46, 0.75);
}


.explainer {
  font-weight: 300;
  font-size: 0.5rem;
  color: #f1f1f1;
  transition: all .5s ease;
  width: 100%; height: 100%;
  
  background-color: #303050;
  background-image: radial-gradient(circle at center top,
                                    #cce, ##33a);
  
  border-radius: 1rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 15vh;
}

.box {
  width: 250px; height: 250px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  flex-direction: column;
  color: #f1f1f1;
  position: relative;
  overflow: hidden;
  margin: 20em 0 0 0;
}

.box img {
  width: 12em; height: 12em;
  border-radius: 50%;
  margin: 0 auto;
  border: 1.5px solid #C0C0C0;
}

.arr_container, .cancel {
  position: absolute;
  width: 50px; height: 50px;
  background: #f1f1f1;
  bottom: 0; right: 0;
  border-radius: 20px 0 20px 0;
  color: rgb(75, 75, 75);
  font-size: 1.5rem;
  cursor: normal;
  transition: all .5s;
}

.arr_container i {
  transform: rotate(45deg);
}

.active_arr {
  transform: translate(80%, 80%);
}

.left_container {
  position: absolute;
  background: #C0C0C0;
  width: 100%; height: 100%;
  border-radius: 23px;
  padding: 12%;
  transition: all .5s;
}

.off {
  transform: translate(-80%, -80%) rotate(90deg);
}

.active {
  transform: translate(0, 0) rotate(0);
}

.left_container p {
  margin: 0 0 15px 0;
  color: #0f2021; font-size: 1.1rem;
  font-family: 'Cabin Sketch', sans-serif;
}

.left_container .skills {
  display: inline-block;
  color: #0f2021;
  border: 1px solid rgb(150, 150, 150);
  padding: 10px 10px 10px 10px;
  font-size: 0.7rem;
  font-family: 'Monument Extended', sans-serif;
  margin: 4px 4px 4px 0;
}

.left_container .icons {
  font-size: 1.5rem;
  margin: 15px 0 0 0;
}

.left_container .icons i {
  color: #0f2021;
  cursor: pointer;
  margin: 0 10px 0 0;
  transition: all .5s;
}

.left_container .icons i:hover {
  color: #ffd700;
}